<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

<% if(locals.band_name){ %>
  <h1> <%= band_name %> </h1>
<% } else{ %>
  <h1> Click the button to get your band name </h1>
 <% } %> 



<form action="/submit" method="POST">
  <input type="submit" value="Generate Name">
</form>


</body>
</html>
<%- include("partials/footer.ejs") %>